//Framework
@use "sass:string"
@use "sass:map"
@use "sass:color"

//Config
$height: (max:1000,min:100,interval:100)
$width: (max:1000,min:100,interval:100)
$paddings: (max:100,min:50,interval:10,min_pr:0,max_pr:50)
$margins: (max:100,min:50,interval:10,min_pr:0,max_pr:50)
$round: (max:50,min:0,interval:10,min_pr:0,max_pr:50)
$gaps: (max:100,min:50,interval:10,min_pr:0,max_pr:10)
$colors: (primary:#1c3d8dff)
$borders: (max:10,min:0,interval:1)

//Fuctions
@function setFor($map,$mode)
    @if $mode==1
        @if map.get($map,"interval")==0
            @return 0
        @else
            @return ( map.get($map,"max")- map.get($map,"min"))/map.get($map,"interval")
    @else if $mode==2
        @return ( map.get($map,"max_pr")- map.get($map,"min_pr"))/5

@function increment($var,$map)
    @return map.get($map,"min")+$var*map.get($map,"interval")

//Display 
.inline-block
    display: inline-block
    box-sizing: border-box
.inline
    display: inline
    box-sizing: border-box

.block
    display: block
    box-sizing: border-box

//Sizes (width,heigth)

@for $h from 0 through setFor($height,1)
    $h:increment($h,$height)
    @for $w from 0 through setFor($width,1)
        $w:increment($w,$width)
        .s-#{$w}-#{$h}-px
            width: #{$w} + 'px'
            height: #{$h} + 'px'

    @for $w from 1 through 10
        .s-#{$w*10}-#{$h}-pr
            width: #{$w*10} + '%'
            height: #{$h} + 'px'
        

    .s-full-#{$h}-px
        width: 100%
        height: #{$h} + 'px'
    
    .s-max-#{$h}-px
        width: max-content
        height: #{$h} + 'px'
        
    .s-min-#{$h}-px
        width: min-content
        height: #{$h} + 'px'

.s-full-auto
    width: 100%
    height: auto

@for $w from 1 through 10
            .s-#{$w*10}-auto-pr
                width: #{$w*10} + '%'
                height: auto
*
    margin: 0
    padding: 0

body
    border: 0

.s-max-auto
    width: max-content
    height: auto
    
.s-min-auto
    width: min-content
    height: auto

.s-fit-auto
    width: fit-content
    height: auto

.s-full-full
    width: 100%
    height: 100%

.s-screen-screen
    width: 100vw
    height: 100vh
//Flex box
$flows: (row: r, row-reverse: rr, column: c, col-reverse: cr)
$wrap: (wrap: w, nowrap: nw)
$position: (flex-start: s, center: c, flex-end: e)


@each $flow,$f in $flows //flex-flow
    @each $wrap,$w in $wrap //flex-wrap
        @each $jus,$j in $position //justify-contes
            @each $ali,$a in $position //aling-items
                .flex-#{$f}-#{$w}-#{$j}#{$a}
                    display: flex
                    flex-direction: $flow
                    flex-wrap: $wrap 
                    justify-content: $jus
                    align-items: $ali 
                    gap: 0
                    
                @for $gap from 1 through setFor($gaps,1)
                    $gap:increment($gap,$gaps)
                    .flex-#{$f}-#{$w}-#{$j}#{$a}-#{$gap}-px
                        display: flex
                        flex-direction: $flow
                        flex-wrap: $wrap
                        justify-content: $jus
                        align-items: $ali 
                        gap: #{$gap}+'px'

                @for $gap from 1 through setFor($gaps,2)
                    $gap:$gap*5
                    .flex-#{$f}-#{$w}-#{$j}#{$a}-#{$gap}-pr
                        display: flex
                        flex-direction: $flow
                        flex-wrap: $wrap
                        justify-content: $jus
                        align-items: $ali 
                        gap: #{$gap}+'%'        

//Margin
@for $m from 1 through setFor($margins,2)
    $m:$m*5
    .m-#{$m}-pr
        margin: #{$m}+'%'
    .ml-#{$m}-pr
        margin-left: #{$m}+'%'
    .mb-#{$m}-pr
        margin-bottom: #{$m}+'%'
    .mr-#{$m}-pr
        margin-right: #{$m}+'%'
    .mt-#{$m}-pr
        margin-top: #{$m}+'%'
    .mx-#{$m}-pr
        @extend .ml-#{$m}-pr
        @extend .mr-#{$m}-pr

@for $m from 1 through setFor($margins,1)
    $m:increment($m,$margins)

    .m-#{$m}-px
        margin: #{$m}+'px'
    .ml-#{$m}-px
        margin-left: #{$m}+'px'
    .mb-#{$m}-px
        margin-bottom: #{$m}+'px'
    .mr-#{$m}-px
        margin-right: #{$m}+'px'
    .mt-#{$m}-px
        margin-top: #{$m}+'px'
    .mx-#{$m}-px
        @extend .ml-#{$m}-px
        @extend .mr-#{$m}-px
    .my-#{$m}-px
        @extend .mt-#{$m}-px
        @extend .mb-#{$m}-px

.m-0
    margin: 0

//Padding
@for $p from 1 through setFor($paddings,2)
    $p:$p*5
    .p-#{$p}-pr
        padding: #{$p}+'%'
    .pl-#{$p}-pr
        padding-left: #{$p}+'%'
    .pb-#{$p}-pr
        padding-bottom: #{$p}+'%'
    .pr-#{$p}-pr
        padding-right: #{$p}+'%'
    .pt-#{$p}-pr
        padding-top: #{$p}+'%'
    .px-#{$p}-pr
        @extend .pl-#{$p}-pr
        @extend .pr-#{$p}-pr

@for $p from 1 through setFor($paddings,1)
    $p:increment($p,$paddings)
    .p-#{$p}-px
        padding: #{$p}+'px'
    .pl-#{$p}-px
        padding-left: #{$p}+'px'
    .pb-#{$p}-px
        padding-bottom: #{$p}+'px'
    .pr-#{$p}-px
        padding-right: #{$p}+'px'
    .pt-#{$p}-px
        padding-top: #{$p}+'px'
    .px-#{$p}-px
        @extend .pl-#{$p}-px
        @extend .pr-#{$p}-px
    .py-#{$p}-px
        @extend .pt-#{$p}-px
        @extend .pb-#{$p}-px

.p-0
    padding: 0

//Scroll
.non-scroll-x
    overflow-x: hidden

.non-scroll-y
    overflow-y: hidden

//Text
.t-center
    text-align: center
    
.t-right
    text-align: right

.t-left
    text-align: left

.t-underline
    text-decoration: underline

.t-bold
    font-weight: 900

//Rounded
@for $r from 1 through setFor($round,1)
    $r:increment($r,$round)
    .r-#{$r}-px
        border-radius: #{$r}+"px"

@for $r from 1 through setFor($round,2)
    $r:$r*5
    .r-#{$r}-pr
        border-radius: #{$r}+"%"




//Colors
@each $name,$code in $colors
    //Normilize
    $code: color.change($code,$saturation:70)

    $index:0

    @for $l from 0 through 10
        $index:$l
        $l:20+$l*6
        //Texts
        .t-#{$name}-#{$index}
            color: color.change($code,$lightness:$l)
        //Background
        .bg-#{$name}-#{$index}
            background-color: color.change($code,$lightness:$l)
        //Border
        @for $w from 0 through setFor($borders,1)
            .b-#{$name}-#{$index}-#{$w}
                border-color: color.change($code,$lightness:$l)
                border-width: #{$w}+"px"
                border-style: solid
        //Shadowbox
        @for $g from 0 through 8
            $g :$g *45
            $x:0
            $y:0
            @if ($g > 270 and $g < 360) or ($g > 0 and $g < 90)
                $x: "15px"
            @else if $g < 270 and $g > 90
                $x: "-15px"
            @else 
                $x:0

            @if $g > 180 and $g < 360
                $y: "15px"
            @else if $g < 180 and $g > 0
                $y: "-15px"
            @else 
                $y:0
            
            @for $blur from 0 through 10
                $blur:$blur*5
                .sh-#{$g}-#{$blur}-#{$name}-#{$index}
                    box-shadow: #{$x} #{$y} #{$blur}px  0 $code

@for $l from 0 through 10
    $name: "gray"
    $index:$l
    $l:$l*10
    $color: color.change(#FFFFFF,$lightness:$l)
    //Texts
    .t-#{$name}-#{$index}
        color: $color
    //Background
    .bg-#{$name}-#{$index}
        background-color: $color
    //Border
    .b-#{$name}-#{$index}
        border-color: $color
        @for $w from 0 through setFor($borders,1)
            .b-#{$name}-#{$index}-#{$w}
                border-color: $color
                border-width: #{$w}+"px"
                border-style: solid
    //Shadowbox
    //Shadowbox
        @for $g from 0 through 8
            $g :$g *45
            $x:0
            $y:0
            @if ($g > 270 and $g < 360) or ($g > 0 and $g < 90)
                $x: "15px"
            @else if $g < 270 and $g > 90
                $x: "-15px"
            @else 
                $x:0

            @if $g > 180 and $g < 360
                $y: "15px"
            @else if $g < 180 and $g > 0
                $y: "-15px"
            @else 
                $y:0
            
            @for $blur from 0 through 10
                $blur:$blur*5
                .sh-#{$g}-#{$blur}-#{$name}-#{$index}
                    box-shadow: #{$x} #{$y} #{$blur}px  0 $color


